<header>
  <section class="container">
    <nav class="nav">
      <a href="./index.html"
        ><svg class="head-icon" width="170px" height="20px">
          <use href="./images/symbol-defs.svg#iconlogo"></use></svg
      ></a>
      <ul class="list nav-list">
        <li class="nav-list__item"><a href="" class="list">All products</a></li>
        <li class="nav-list__item">
          <a href="" class="list">
            Solutions
            <svg width="12px" height="8px">
              <use href="./images/symbol-defs.svg#iconarrow"></use>
            </svg>
          </a>
        </li>
        <li class="nav-list__item"><a href="" class="list">About</a></li>
        <li class="nav-list__item"><a href="" class="list">Support</a></li>
      </ul>

      <ul class="list nav-icons">
        <li class="nav-icons__item">
          <a href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#iconsearch"></use>
            </svg>
          </a>
        </li>
        <li class="nav-icons__item">
          <a href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#iconcart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>
