<section class="section-item">
<h1>Save on our most selled items</h1>
<p>Our new Limited Edition Winter Design BESPOKE 4-Door Flex™ </p>
<ul class="list product">
    <li class="product-list ">
        <a href="#" class="list">
            <img src="./images/image 1 updated.jpg" alt="" width="250px" height="215px">
            <h2>MacBook Pro 13</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
            <p>$ 1,200.00 USD</p>
        </a>
    </li>
    <li class="product-list">
        <a href="#" class="list">
            <img src="./images/image 2 updated.jpg" alt="" width="" height="">
            <h2>Smart Galaxy Watch 3</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <p>$ 199.00 USD</p>
        </a>
    </li>
    <li class="product-list"> 
        <a href="#" class="list">
            <img src="./images/image 3 updated.jpg" alt="" width="" height="">
            <h2>MacBook Air M1</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <p>$ 1,009.00 USD</p>
        </a>
    </li>
    <li class="product-list">
        <a href="#" class="list">
            <img src="./images/image 4 updated.jpg" alt="" width="" height="">
            <h2>iPad</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <p>$ 610.00 USD</p>
        </a>
    </li>
</ul>
</section>