<section class="section-item">
<h1 class="section-item__header">Save on our most selled items</h1>
<p class="section-item__text"> Our new Limited Edition Winter Design BESPOKE 4-Door Flex™ </p>
<ul class="list product">
    <li class="product-list">
        <a href="#" class="list product-list__link">
            <img src="./images/image 1 updated.jpg" alt="" width="250px" height="215px"></a>
            <h2 class="product-list__title">MacBook Pro 13</h2>
            <p class="product-list__text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
            <p class="product-list__price">$ 1,200.00 USD</p>
        
    </li>
    <li class="product-list">
        <a href="#" class="list product-list__link">
            <img src="./images/image 2 updated.jpg" alt="" width="" height=""></a>
            <h2 class="product-list__title">Smart Galaxy Watch 3</h2>
            <p class="product-list__text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <p class="product-list__price">$ 199.00 USD</p>
       
    </li>
    <li class="product-list"> 
        <a href="#" class="list product-list__link">
            <img src="./images/image 3 updated.jpg" alt="" width="" height=""></a>
            <h2 class="product-list__title">MacBook Air M1</h2>
            <p class="product-list__text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <p class="product-list__price">$ 1,009.00 USD</p>
    </li>
    <li class="product-list">
        <a href="#" class="list product-list__link">
            <img src="./images/image 4 updated.jpg" alt="" width="" height=""></a>
            <h2 class="product-list__title">iPad</h2>
            <p class="product-list__text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,consectetur, adipisci velit...</p>
            <p class="product-list__price">$ 610.00 USD</p>
       
    </li>
</ul>
</section>