<section class="new">
<h1 class="new-product-title">See the best around here</h1>
<p class="new-product-text">Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p>
<ul class="list new-product-list">
<li class="new-product-item">
    <h2 class="new-product-item__title">Smart light bulb pack</h2>
    <p class="new-product-item__text">Latest and gratest</p>
    <button class="new-product-item__btn">Explore</button>
    <a href="#"><img src="#" alt="" class="product-link__image"></a>
</li>
<li class="new-product-item">
    <h2 class="new-product-item__title">Smart light bulb pack</h2>
    <p class="new-product-item__text">Best selling</p>
    <button class="new-product-item__btn">Explore</button>
    <a href="#"><img src="#" alt="" class="product-link__image"></a>
</li>
<li class="new-product-item">
    <h2 class="new-product-item__title">Smart light bulb pack</h2>
    <p class="new-product-item__text">Every product</p>
    <button class="new-product-item__btn">Explore</button>
    <a href="#"><img src="#" alt="" class="product-link__images"></a>
</li>
</ul>
</section>