<section class="searching">
  <h1 class="searching-title">Looking for anything else?</h1>
  <div class="searching-input__box">
    <input class="searching-input" type="text" placeholder="Search keyword" />
    <svg class="searching-input__icon" width="30px" heigth="30px">
      <use href="./images/symbol-defs.svg#iconsearch"></use>
    </svg>
  </div>
  <ul class="list searching-list">
    <ul class="list list-up">
      <li class="searching-list__item">
        <button class="searching-btn iPhone">iPhone</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Charger">Charger</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Gift">Gift</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Google">Google Pixel 3</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Keyboard">Keyboard</button>
      </li>
    </ul>
    <ul class="list list-down">
      <li class="searching-list__item">
        <button class="searching-btn Pro">13 Pro Max</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn iPhone12">iPhone 12</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Laptop">Laptop</button>
      </li>
      <li class="searching-list__item">
        <button class="searching-btn Mobile">Mobile</button>
      </li>
    </ul>
  </ul>
  <div class="input-box">
    <h1 class="input-box__title">Never miss a thing</h1>
    <p class="input-box__text">
      Sign up for texts to be notified about our best offers on the perfect
      gifts.
    </p>
    <img class="input-box__image" src="./images/laptop-search.png" alt="" />
    <div class="input-box__add">
      <input type="text" placeholder="Your email" class="input-mail" />
      <button class="input-box__btn">Sign Up</button>
    </div>
  </div>
</section>
